{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <textarea id="room" cols="70" rows="15"></textarea><br>
        <input id="text" type="text" size="100"><br>
        {% buttons %}
            <input id="button" type="button" value="Send">
        {% endbuttons %}
    </div>

    {% bootstrap_javascript jquery='full' %}
    <script>
        var room_name = {{ room_name_json }};

        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/chat/' + room_name + '/'
        );

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            document.querySelector('#room').value += (message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('The chat ended.');
        };

        document.querySelector('#text').focus();
        document.querySelector('#text').onkeyup = function(e) {
            if(e.keyCode === 13) {
                document.querySelector('#button').click();
            }
        };

        document.querySelector('#button').onclick = function(e) {
            var messageInput = document.querySelector('#text')
            var message = messageInput.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInput.value = '';
        }
    </script>
    
</body>
</html>